/* #region global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

:root {
  --font-family: 'Poppins', sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --main-color: #02897a;
  --accent-color: #4d8dff;
  --background-color: #740a76;
  --text-color: #22343d;
  --hover-color: #ffffff;

  --grey1: #1f2e35;
  --grey2: #30444e;
  --grey3: #475e69;
  --grey4: #e4e9f3;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #22343d;
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: currentColor;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

button {
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
  display: block;
}

.container {
  max-width: 369px;
  padding-left: 18px;
  padding-right: 18px;
  margin: 0 auto;

  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fafafa;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 68px;
  }
}
/* Styles for Desktop devices */
@media (min-width: 1400px) {
  .container {
    max-width: 1110px;
    padding: 0 145px;
  }
}
/* #endregion global styles*/

.mobile-menu {
  display: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-ul {
  display: none;
}

.nav-button {
  display: none;
}

.logo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.logo-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 30px;

  line-height: 93%;
  color: #173a56;
}
.icon-burger {
  fill: #30444e;
}

/* desk */
@media (min-width: 1400px) {
  .header-container {
    display: flex;
    align-items: center;
  }

  .nav-ul {
    display: flex;

    gap: 30px;
    margin-right: 50px;
  }

  .header-link-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
padding: 18px 0;
transition: color 300ms ease-in-out;
  }

.header-link-text:hover{
color: #548299;
}

  .nav-button {
    display: flex;
    gap: 8px;
  }

  .icon-burger {
    display: none;
  }

  
  /* LOGO */
  .logo {
    padding: 14px 0;
    margin-right: 50px;
    transition: text-shadow 300ms ease-in-out;
  }

  .logo:hover {
    text-shadow: 3px 3px 5px #d0fcfc, 3px 3px 5px #0f1111;
    
  }


  .logo-image{
    transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out;
  }

.logo:hover .logo-image{
  background-color: #d0fcfc;
  box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.logo:hover .logo-text{
  color: #174943;
}

  .nav {
    justify-content: start;
  }

       



  /* button */
  .button-nav-in {
    width: 75px;
    height: 35px;

    border-radius: 5px;
    transition: color 300ms ease-in-out, transform 300ms ease-in-out, box-shadow 300ms ease-in-out, background-color 300ms ease-in-out);
  }

  .button-nav-in:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #dbdddc;
    color: #0c9c8b;
  }

  .button-nav-up {
    width: 75px;
    height: 35px;

    border-radius: 5px;
    background-color: #02897a;
    color: #e4e9f3;

    transition: color 300ms ease-in-out, transform 300ms ease-in-out, box-shadow 300ms ease-in-out, background-color 300ms ease-in-out;
  }

  .button-nav-up:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #09ccb5;
    color: #173a56;
  }

  .header-li-btn {
    padding: 16px 0;
  }

  /* under line */
  .header-link-text {
    position: relative;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-text::after {
    content: "";
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: transparent;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(-50%);
}

.header-link-text:hover::after,
.header-link-text:focus::after {
    width: 100%;
    background-color: #09ccb5;
}    
 
}

